{%  extends 'base.html.twig' %}
{%  block title %}{% endblock %}
{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/dropzone/dist/dropzone.css') }}">
{% endblock %}

{%  block body %}
    {{ render(controller('App\\Controller\\HomeController::navBar', {} )) }}

    <div class="container mt-5">
        <div class="row">
            <h3 class="ml-3">Let's now add Images to your announcement</h3>
        </div>
    </div>
<div class="container mt-3 border p-4">
    <form action="{{ path('newAnnouncement') }}" method="POST">
        <div class="row mt-4">
            <h3 class="ml-3">Images</h3>
        </div>
        <hr/>
        <div class="row mt-4">
            <div class="col ">
                <div class="alert alert-warning text-center" role="alert">
                   <strong>You can only upload 3 images if you put more it will not work ! </strong>
                </div>
                <div class="dropzone" id="my-awesome-dropzone"></div>
                <div class="alert alert-success text-center mt-4" role="alert">
                    <strong>Image previews :</strong>
                </div>
                <div class="dropzone-previews dropzone mt-1"></div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col ">
                <button type="submit" class="btn btn-outline-dark mt-2" name="add_announcement">Create the announcement</button>
            </div>
        </div>
    </form>
</div>
    {{ form_start(form) }}
    {{ form_row(form.Url) }}
    {{ form_row(form.announcement) }}
        <button type="submit" class="btn btn-outline-dark mt-2" >Dab</button>
    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ asset('assets/dropzone/dist/dropzone.js') }}"></script>


    <script>
        Dropzone.autoDiscover = false;
        Dropzone.options.myAwesomeDropzone = {
            previewsContainer: ".dropzone-previews",
            maxFiles: 3,
            accept: function(file, done) {
                console.log("uploaded");
                done();
            },
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    this.removeFile(file);
                });
            }
        };
        $('#my-awesome-dropzone').dropzone({
            previewsContainer: ".dropzone-previews",
            url: "{{ path('newAnnouncement') }}"
        });
    </script>

{% endblock %}



