{%  extends 'base.html.twig' %}
{%  block title %}{% endblock %}

{%  block body %}
    {{ render(controller('App\\Controller\\HomeController::navBar', {} )) }}

    <div class="container mt-5 border p-4">
        <div class="row">
            <h3 class="ml-3">Search</h3>
        </div>
        <div class="row">
            <div class="col mt-4 col-md-4">
                <div class="dropdown">
                    <select class="form-control">
                        <option>Categories</option>
                    </select>
                </div>
            </div>
            <div class="col mt-4 col-md-4">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="col mt-4 col-md-4">
                <input class="form-control" type="text" placeholder="City">
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <h3 class="">Announcements</h3>
        </div>
        {% for announcement in announcements %}
            <div class="row justify-content-md-center mt-3 border">
                <div class="col-md-3 mt-4">
                    {% if announcement.pictures|length > 1 %}
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for picture in announcement.pictures %}
                                    {% if loop.first %}
                                        <div class="carousel-item active">
                                    {% else %}
                                            <div class="carousel-item">
                                    {% endif %}
                                            <img class="d-block w-100" src="{{ picture.Url }}" >
                                        </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% else %}
                        {% for picture in announcement.pictures %}
                            <img class="img-fluid" src="{{ picture.Url }}">
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 mt-1">
                    <h5>{{ announcement.Name }}</h5>
                    <p>{{ announcement.Price }} € </p>
                    <p class="mt-2">{{ announcement.city.name }}</p>
                    <p>{{ announcement.city.postalCode }}</p>
                </div>
                <div class="col-md-5 mt-2">
                    <p style="white-space: pre-wrap;">{{ announcement.Description |length > 450 ? announcement.Description|slice(0, 450) ~ '...' : announcement.Description}}</p>
                </div>
                    <div class="col-md-1">
                    <i class="far fa-heart float-right mt-3"></i>
                    <!--
                    <i class="fas fa-heart float-right"></i>-->
                </div>
            </div>
        {% endfor %}

{% endblock %}



